:root,
html {
    width: 100%;
    height: 100%;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#rotate-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 9999;
    text-align: center;
    vertical-align: middle;
}

#rotate-warning p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

@media (orientation: portrait) {
    .rotate-active {
        display: block;
    }
}


#flick-stop {
    font-size: 35px;
    top: 35%;
    left: 50%;
    text-align: center;
    position: fixed;
    transform: translate(-50%, -50%);
}

.flick-stim-class {
    font-family: Arial;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
}

.flick-frame-class {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-right: none;
    border-left: none;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 500px;
    position: fixed;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.flick-frame-portrait {
    height: 500px;
    width: 300px;
}


.add-corners:before, .add-corners:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.add-corners:before {
    border-width: 0 50px 50px 0;
    border-color: transparent #000000 #000000 transparent;
    top: -3px; /* offset by the border-top width */
    left: -3px; /* offset by the border-left width */
}

.add-corners:after {
    border-width: 0 0 50px 50px;
    border-color: transparent transparent #000000 #000000;
    top: -3px; /* offset by the border-top width */
    right: -3px; /* offset by the border-right width */
}

.flick-frame-demo {
    position: relative;
    transform: none;
    left: auto;
    margin: 0 auto;
}

.flick-button-circle {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    box-shadow: inset 0 2px 0 0 #B0B0B0;
    border: 1px solid #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaaaaa;
}

.flick-button-highlight {
    background-color: #888888;
    box-shadow: 0 2px 0 0 #666666;
}

.flick-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: green;
}

.flick-left-line {
    left: 30px;
}

.flick-right-line {
    right: 30px;
}