:root,
html {
    width: 100%;
    height: 100%;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#rotate-warning {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 9999;
    text-align: center;
    vertical-align: middle;
}

#rotate-warning p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.rotate-inactive {
    display: none;
}

@media (orientation: portrait) {
    .rotate-active {
        display: block;
    }
}

.stop-class {
    font-family: Arial;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    display: none;
}

.flick-stim-class {
    font-family: Arial;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
}


.flick-frame-class {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-right: none;
    border-left: none;
    left: 50%;
    bottom: 50px;
    height: 100px;
    width: 500px;
    position: fixed;
    transform: translateX(-50%);
}

.add-corners {
    bottom: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    overflow: hidden;
}

.add-corners:before,
.add-corners:after {
    content: "";
    position: absolute;
    width: 100px;
    /* Full width of circle */
    height: 100px;
    /* Full height of circle */
    border-radius: 50%;
    /* Makes it a circle */
    background-color: rgb(153, 218, 153);
    /* Filling color */
    border: 3px solid green;
    /* Border color and width */
}

.add-corners:before {
    top: -50px;
    /* Moves it up by half the height */
    left: -50px;
    /* Moves it left by half the width */
}

.add-corners:after {
    top: -50px;
    /* Moves it up by half the height */
    right: -50px;
    /* Moves it right by half the width */
}

.flick-frame-portrait {
    height: 500px;
    width: 300px;
}

.flick-frame-demo {
    position: relative;
    transform: none;
    left: auto;
    margin: 0 auto;
    bottom: 0;
}

.flick-button-circle {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    box-shadow: inset 0 2px 0 0 #B0B0B0;
    border: 1px solid #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaaaaa;
}

.flick-button-highlight {
    background-color: #888888;
    box-shadow: 0 2px 0 0 #666666;
}

.flick-button-class {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    box-shadow: inset 0 2px 0 0 #B0B0B0;
    border: 1px solid #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaaaaa;
    margin: 10px;
}

.flick-buttons-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.flick-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: green;
}

.flick-left-line {
    left: 30px;
}

.flick-right-line {
    right: 30px;
}